.form-background
  %h1 Edit Team Member

  = form_for :team_member, url: team_members_path, html: {class: "new-form"} do |f|
    = f.text_field :name
    = f.text_field :role
    = f.text_area :bio
    = f.submit "Submit", :class=>"small round button"
