<h1> New Team Member </h1>

<%= form_for :team_member, url: team_members_path do |f| %>
  <%= f.text_field :name, placeholder:"Name" %>
  <%= f.text_field :role, placeholder:"Role" %>
  <%= f.text_area :bio, placeholder:"Bio" %>
  <%= f.submit "Submit", :class=>"small round button" %>
 <% end %>
