.footer
  %h3.content TEDxBerkeley
  %ul.content.right
    %li.content= link_to 'Facebook', 'https://www.facebook.com/TEDxBerkeley', class: 'content'
    %li.content= link_to 'Google +', 'https://plus.google.com/+TedxberkeleyOrg', class: 'content'
    %li.content= link_to 'LinkedIn', 'https://www.linkedin.com/company/tedx-berkeley', class: 'content'
    %li.content= link_to 'Instagram', 'https://www.instagram.com/tedxberkeley', class: 'content'
    %li.content= link_to 'Twitter', 'https://twitter.com/tedxberkeley', class: 'content'
    %li.content= link_to 'YouTube', 'https://www.youtube.com/channel/UCsT0YIqwnpJCM-mx7-gSA4Q', class: 'content'
