%nav
  = link_to root_url do
    %h1.title TEDxBerkeley
  %ul
    %li= link_to "Nominations", nominations_path
    %li= link_to "Speakers", speakers_path
    %li= link_to "Team Members", team_members_path
    %li= link_to "Users", users_path
