%nav
  = link_to root_url, id: "logo" do
    %h1.title TEDxBerkeley
  = link_to "http://www.eventbrite.com", class: "tickets_button" do
    %h4 Purchase Tickets
  %i{class: "fa fa-bars draw_button", onclick: "moveNav()"}
  %div{class: "sidenav", id: "mySideNav"}
    %ul
      %li= link_to "Speakers", speakers_path
      %li= link_to "Team", team_members_path
      %li= link_to "About", static_about_path
      %li= link_to "Get Involved", static_involve_path
      %li= link_to "Partners", sponsors_path
      - if current_user and current_user.admin?
        %li= link_to "Users", users_path
        %li= link_to "Nominations", nominations_path
        %li= link_to "Sign Out", destroy_user_session_path, :method => :delete
