<h1> Nominations! </h1>

<%= link_to "New", new_nomination_path %>

<% @nominations.each do |nomination| %>
	<%= link_to nomination do %>
			<p> Speaker </p>
			<p><%= nomination.speaker_name %> </p>
			<p> Nominated By </p>
			<p><%= nomination.submitter_name %> </p>
      <%= link_to "Delete Nomination", nomination, method: :delete %>
	<% end %>
<% end %>
