.form-background

  %h2 Nominate a Speaker

  = form_for :nomination, url: nominations_path, html: {class: "new-form"}  do |f|
    = f.text_field :submitter_name, placeholder:"Your Name"
    = f.text_field :submitter_email, placeholder:"Your Email"
    = f.text_field :speaker_name, placeholder:"Speaker Name"
    = f.text_field :speaker_email, placeholder:"Speaker Email"
    = f.text_area :description, placeholder:"Speaker Description"
    = f.submit "Submit Nomination!", :class=>"small round button"
