.form-background

  %h1 Edit Speaker

  = form_for :speaker, url: speakers_path, html: {class: "new-form directUpload"}, data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } do |f|
    = f.text_field :name
    = f.collection_select :event_id, Event.order(:date),:id,:theme, include_blank: false
    = f.text_field :tagline
    = f.text_field :quote
    = f.text_field :website
    = f.text_field :twitter
    = f.text_field :youtube_url
    = f.text_area :description
    = f.file_field :photo_url
    = f.submit "Update"
