<h1>Edit Speaker</h1>

<%= form_for @speaker do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :tagline %>
  <%= f.text_field :quote %>
  <%= f.text_area :description %>
  <%= f.submit "Update" %>
<% end %>
